*.lock
.DS_Store
.idea/
build/
*.sql
*.class
*.class
build/classes/java/main/org/gainratio/amlfilter/service/AlgorithmsService.class
build/classes/java/main/org/gainratio/amlfilter/service/AlgorithmsServiceInterface.class
build/classes/java/main/org/gainratio/amlfilter/service/SynonymService.class
build/classes/java/main/org/gainratio/amlfilter/service/SynonymServiceInterface.class
build/classes/java/main/org/gainratio/amlfilter/service/WordService.class
build/classes/java/main/org/gainratio/amlfilter/service/WordServiceInterface.class
build/classes/java/main/org/gainratio/amlfilter/util/AlgorithmUtils.class
build/resources/main/db/migration/V2__load_synonyms.sql
build/resources/main/db/migration/V3__load_words.sql
